In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib.ticker as ticker
import matplotlib.ticker as plticker
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.datasets import make_classification

In [2]:
world_cup = pd.read_csv('C:/Users/SIVA DATTA/Desktop/belief sys/ICC-2019-WC-prediction/datasets/World Cup 2019 Dataset.csv')
results = pd.read_csv('C:/Users/SIVA DATTA/Desktop/belief sys/ICC-2019-WC-prediction/datasets/results.csv')

In [3]:
results['Winner'] = results['Winner'].apply(lambda x: "Tie_or_no_result" if x == "no result" or x == "tied" else x)

In [4]:
len(results[results['Winner'] =="Tie_or_no_result"]), len(results)

(49, 1039)

In [5]:
(len(results[results['Winner'] =="Tie_or_no_result"])/len(results))*100

4.716073147256978

In [6]:
results['Margin'] = results['Margin'].apply(lambda x: str(x))

In [7]:
results['Margin_wicket'] = results['Margin'].apply(lambda x: x.split('wicket')[0] if len(x.split('wicket')[0])<=3 else 0)

In [8]:
results['Margin_wicket'] = results['Margin_wicket'].apply(lambda x: 0 if x == "nan" else x)

results['Margin_wicket'] = results['Margin_wicket'].apply(lambda x: int(float(x)))

results['Margin'] = results['Margin'].apply(lambda x:str(x))

results['Margin_runs'] = results['Margin'].apply(lambda x: x.split('run')[0] if len(x.split('run')[0])<=4 else 0)

results['Margin_runs'] = results['Margin_runs'].apply(lambda x: 0 if x == "nan"else x)

results['Margin_runs'] = results['Margin_runs'].apply(lambda x: int(float(x)))

In [9]:
results['Margin'].apply(lambda x: str(x).split('wickets')[0])

0             7
1             5
2             6
3             9
4             8
5             6
6             4
7             5
8       140 runs
9        40 runs
10      135 runs
11            2
12      146 runs
13      113 runs
14            5
15            8
16            3
17           nan
18       50 runs
19            6
20         1 run
21       80 runs
22            4
23      125 runs
24         1 run
25      153 runs
26       90 runs
27            6
28            2
29            2
          ...
1009         nan
1010         nan
1011         nan
1012         nan
1013         nan
1014         nan
1015         nan
1016         nan
1017         nan
1018         nan
1019         nan
1020         nan
1021         nan
1022         nan
1023         nan
1024         nan
1025         nan
1026         nan
1027         nan
1028         nan
1029         nan
1030         nan
1031         nan
1032         nan
1033         nan
1034         nan
1035         nan
1036         nan
1037         nan
1038         nan
Name: Margin, Length: 1039, dtype: object

In [10]:
results[results['Margin_wicket'] == 0][results[results['Margin_wicket'] == 0]['Margin_runs'] == 0]

,date,Team_1,Team_2,Winner,Margin,Ground,Margin_wicket,Margin_runs
17,12-Feb-10,Australia,West Indies,Tie_or_no_result,nan,Sydney,0,0
100,"Aug 19-20, 2010",Sri Lanka,New Zealand,Tie_or_no_result,nan,Dambulla,0,0
151,26-Jan-11,New Zealand,Pakistan,Tie_or_no_result,nan,Queenstown,0,0
155,31-Jan-11,Sri Lanka,West Indies,Tie_or_no_result,nan,Colombo (SSC),0,0
173,27-Feb-11,India,England,Tie_or_no_result,nan,Bengaluru,0,0
182,05-Mar-11,Sri Lanka,Australia,Tie_or_no_result,nan,Colombo (RPS),0,0
249,03-Sep-11,England,India,Tie_or_no_result,nan,Chester-le-Street,0,0
254,11-Sep-11,England,India,Tie_or_no_result,nan,Lord's,0,0
302,14-Feb-12,India,Sri Lanka,Tie_or_no_result,nan,Adelaide,0,0
329,20-Mar-12,West Indies,Australia,Tie_or_no_result,nan,Kingstown,0,0
337,13-Jun-12,Sri Lanka,Pakistan,Tie_or_no_result,nan,Colombo (RPS),0,0
342,23-Jun-12,Ireland,Australia,Tie_or_no_result,nan,Belfast,0,0
359,24-Aug-12,England,South Africa,Tie_or_no_result,nan,Cardiff,0,0
371,12-Nov-12,Sri Lanka,New Zealand,Tie_or_no_result,nan,Hambantota,0,0
387,20-Jan-13,Australia,Sri Lanka,Tie_or_no_result,nan,Sydney,0,0
414,25-Mar-13,Sri Lanka,Bangladesh,Tie_or_no_result,nan,Hambantota,0,0
420,23-May-13,Ireland,Pakistan,Tie_or_no_result,nan,Dublin,0,0
432,12-Jun-13,Australia,New Zealand,Tie_or_no_result,nan,Birmingham,0,0
434,14-Jun-13,South Africa,West Indies,Tie_or_no_result,nan,Cardiff,0,0
449,09-Jul-13,Netherlands,Ireland,Tie_or_no_result,nan,Amstelveen,0,0
454,19-Jul-13,West Indies,Pakistan,Tie_or_no_result,nan,Gros Islet,0,0
468,"Aug 27-28, 2013",Canada,Netherlands,Tie_or_no_result,nan,King City (NW),0,0
477,11-Sep-13,England,Australia,Tie_or_no_result,nan,Birmingham,0,0
485,23-Oct-13,India,Australia,Tie_or_no_result,nan,Ranchi,0,0
495,10-Nov-13,Sri Lanka,New Zealand,Tie_or_no_result,nan,Hambantota,0,0
507,11-Dec-13,South Africa,India,Tie_or_no_result,nan,Centurion,0,0
525,25-Jan-14,New Zealand,India,Tie_or_no_result,nan,Auckland,0,0
562,19-Jun-14,Bangladesh,India,Tie_or_no_result,nan,Dhaka,0,0
601,27-Oct-14,New Zealand,South Africa,Tie_or_no_result,nan,Hamilton,0,0
643,17-Jan-15,New Zealand,Sri Lanka,Tie_or_no_result,nan,Auckland,0,0
...,...,...,...,...,...,...,...,...
1009,NaN,New Zealand,South Africa,New Zealand,nan,NaN,0,0
1010,NaN,England,Afghanistan,England,nan,NaN,0,0
1011,NaN,West Indies,Bangladesh,Bangladesh,nan,NaN,0,0
1012,NaN,India,Pakistan,India,nan,NaN,0,0
1013,NaN,South Africa,Afghanistan,South Africa,nan,NaN,0,0
1014,NaN,Sri Lanka,Australia,Australia,nan,NaN,0,0
1015,NaN,England,West Indies,England,nan,NaN,0,0
1016,NaN,India,New Zealand,India,nan,NaN,0,0
1017,NaN,Australia,Pakistan,Australia,nan,NaN,0,0
1018,NaN,India,Australia,India,nan,NaN,0,0
1019,NaN,Afghanistan,New Zealand,New Zealand,nan,NaN,0,0
1020,NaN,England,Bangladesh,England,nan,NaN,0,0
1021,NaN,Australia,West Indies,Australia,nan,NaN,0,0
1022,NaN,Bangladesh,New Zealand,New Zealand,nan,NaN,0,0
1023,NaN,South Africa,India,India,nan,NaN,0,0
1024,NaN,Afghanistan,Sri Lanka,Sri Lanka,nan,NaN,0,0
1025,NaN,England,Pakistan,Pakistan,nan,NaN,0,0
1026,NaN,South Africa,Bangladesh,Bangladesh,nan,NaN,0,0
1027,NaN,Afghanistan,Australia,Australia,nan,NaN,0,0
1028,NaN,New Zealand,Sri Lanka,New Zealand,nan,NaN,0,0
1029,NaN,West Indies,Pakistan,West Indies,nan,NaN,0,0
1030,NaN,England,South Africa,England,nan,NaN,0,0
1031,NaN,West Indies,New Zealand,West Indies,nan,NaN,0,0
1032,NaN,Bangladesh,India,India,nan,NaN,0,0
1033,NaN,England,Afghanistan,England,nan,NaN,0,0
1034,NaN,Australia,Sri Lanka,Australia,nan,NaN,0,0
1035,NaN,India,New Zealand,New Zealand,nan,NaN,0,0
1036,NaN,England,Australia,Australia,nan,NaN,0,0
1037,NaN,Sri Lanka,South Africa,South Africa,nan,NaN,0,0
1038,NaN,Pakistan,Afghanistan,Afghanistan,nan,NaN,0,0

In [11]:
df = results[(results['Team_1'] == 'India') | (results['Team_2'] == 'India')]
india = df.iloc[:]
india.head()

,date,Team_1,Team_2,Winner,Margin,Ground,Margin_wicket,Margin_runs
1,05-Jan-10,India,Sri Lanka,Sri Lanka,5 wickets,Dhaka,5,0
2,07-Jan-10,Bangladesh,India,India,6 wickets,Dhaka,6,0
4,10-Jan-10,India,Sri Lanka,India,8 wickets,Dhaka,8,0
5,11-Jan-10,Bangladesh,India,India,6 wickets,Dhaka,6,0
6,13-Jan-10,India,Sri Lanka,Sri Lanka,4 wickets,Dhaka,4,0

In [12]:
worldcup_teams = ['England', ' South Africa', '', 'West Indies', 
            'Pakistan', 'New Zealand', 'Sri Lanka', 'Afghanistan', 
            'Australia', 'Bangladesh', 'India']
df_teams_1 = results[results['Team_1'].isin(worldcup_teams)]
df_teams_2 = results[results['Team_2'].isin(worldcup_teams)]
df_teams = pd.concat((df_teams_1, df_teams_2))
df_teams.drop_duplicates()
df_teams

,date,Team_1,Team_2,Winner,Margin,Ground,Margin_wicket,Margin_runs
0,04-Jan-10,Bangladesh,Sri Lanka,Sri Lanka,7 wickets,Dhaka,7,0
1,05-Jan-10,India,Sri Lanka,Sri Lanka,5 wickets,Dhaka,5,0
2,07-Jan-10,Bangladesh,India,India,6 wickets,Dhaka,6,0
3,08-Jan-10,Bangladesh,Sri Lanka,Sri Lanka,9 wickets,Dhaka,9,0
4,10-Jan-10,India,Sri Lanka,India,8 wickets,Dhaka,8,0
5,11-Jan-10,Bangladesh,India,India,6 wickets,Dhaka,6,0
6,13-Jan-10,India,Sri Lanka,Sri Lanka,4 wickets,Dhaka,4,0
7,22-Jan-10,Australia,Pakistan,Australia,5 wickets,Brisbane,5,0
8,24-Jan-10,Australia,Pakistan,Australia,140 runs,Sydney,0,140
9,26-Jan-10,Australia,Pakistan,Australia,40 runs,Adelaide,0,40
10,29-Jan-10,Australia,Pakistan,Australia,135 runs,Perth,0,135
11,31-Jan-10,Australia,Pakistan,Australia,2 wickets,Perth,2,0
12,05-Feb-10,New Zealand,Bangladesh,New Zealand,146 runs,Napier,0,146
13,07-Feb-10,Australia,West Indies,Australia,113 runs,Melbourne,0,113
14,08-Feb-10,New Zealand,Bangladesh,New Zealand,5 wickets,Dunedin,5,0
15,09-Feb-10,Australia,West Indies,Australia,8 wickets,Adelaide,8,0
16,11-Feb-10,New Zealand,Bangladesh,New Zealand,3 wickets,Christchurch,3,0
17,12-Feb-10,Australia,West Indies,Tie_or_no_result,nan,Sydney,0,0
18,14-Feb-10,Australia,West Indies,Australia,50 runs,Brisbane,0,50
20,16-Feb-10,Afghanistan,Canada,Afghanistan,1 run,Sharjah,0,1
22,18-Feb-10,Afghanistan,Canada,Canada,4 wickets,Sharjah,4,0
23,19-Feb-10,Australia,West Indies,Australia,125 runs,Melbourne,0,125
24,21-Feb-10,India,South Africa,India,1 run,Jaipur,0,1
25,24-Feb-10,India,South Africa,India,153 runs,Gwalior,0,153
26,27-Feb-10,India,South Africa,South Africa,90 runs,Ahmedabad,0,90
27,28-Feb-10,Bangladesh,England,England,6 wickets,Dhaka,6,0
28,02-Mar-10,Bangladesh,England,England,2 wickets,Dhaka,2,0
29,03-Mar-10,New Zealand,Australia,New Zealand,2 wickets,Napier,2,0
30,04-Mar-10,West Indies,Zimbabwe,Zimbabwe,2 runs,Providence,0,2
31,05-Mar-10,Bangladesh,England,England,45 runs,Chittagong,0,45
...,...,...,...,...,...,...,...,...
1001,NaN,New Zealand,Pakistan,Pakistan,nan,NaN,0,0
1002,NaN,England,Australia,Australia,nan,NaN,0,0
1003,NaN,Bangladesh,Afghanistan,Bangladesh,nan,NaN,0,0
1004,NaN,Pakistan,South Africa,Pakistan,nan,NaN,0,0
1005,NaN,West Indies,New Zealand,New Zealand,nan,NaN,0,0
1006,NaN,India,Afghanistan,India,nan,NaN,0,0
1007,NaN,England,Sri Lanka,Sri Lanka,nan,NaN,0,0
1008,NaN,Australia,Bangladesh,Bangladesh,nan,NaN,0,0
1009,NaN,New Zealand,South Africa,New Zealand,nan,NaN,0,0
1010,NaN,England,Afghanistan,England,nan,NaN,0,0
1011,NaN,West Indies,Bangladesh,Bangladesh,nan,NaN,0,0
1012,NaN,India,Pakistan,India,nan,NaN,0,0
1013,NaN,South Africa,Afghanistan,South Africa,nan,NaN,0,0
1015,NaN,England,West Indies,England,nan,NaN,0,0
1017,NaN,Australia,Pakistan,Australia,nan,NaN,0,0
1019,NaN,Afghanistan,New Zealand,New Zealand,nan,NaN,0,0
1020,NaN,England,Bangladesh,England,nan,NaN,0,0
1021,NaN,Australia,West Indies,Australia,nan,NaN,0,0
1023,NaN,South Africa,India,India,nan,NaN,0,0
1025,NaN,England,Pakistan,Pakistan,nan,NaN,0,0
1026,NaN,South Africa,Bangladesh,Bangladesh,nan,NaN,0,0
1027,NaN,Afghanistan,Australia,Australia,nan,NaN,0,0
1028,NaN,New Zealand,Sri Lanka,New Zealand,nan,NaN,0,0
1031,NaN,West Indies,New Zealand,West Indies,nan,NaN,0,0
1032,NaN,Bangladesh,India,India,nan,NaN,0,0
1033,NaN,England,Afghanistan,England,nan,NaN,0,0
1034,NaN,Australia,Sri Lanka,Australia,nan,NaN,0,0
1035,NaN,India,New Zealand,New Zealand,nan,NaN,0,0
1036,NaN,England,Australia,Australia,nan,NaN,0,0
1038,NaN,Pakistan,Afghanistan,Afghanistan,nan,NaN,0,0

In [13]:
df_teams.drop('date',axis=1,inplace=True)

In [14]:
df_teams_used=df_teams.drop('Margin',axis=1,inplace=True)

In [15]:
df_teams=df_teams.reset_index(drop=True)

In [16]:
df_teams.loc[df_teams.Winner==df_teams.Team_1,'Winning_team']=2

In [17]:
df_teams.loc[df_teams.Winner=='Tie_or_no_result','Winning_team']=1

In [18]:
df_teams.loc[df_teams.Winner==df_teams.Team_2,'Winning_team']=0

In [19]:
final=pd.get_dummies(df_teams,columns=['Team_1','Team_2'])

training the model

In [20]:
# Separate X and y sets
X = final.drop(['Winner','Winning_team','Ground','Margin_wicket','Margin_runs'], axis=1)
y = final['Winning_team']

In [21]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1520 entries, 0 to 1519
Data columns (total 40 columns):
Team_1_Afghanistan      1520 non-null uint8
Team_1_Australia        1520 non-null uint8
Team_1_Bangladesh       1520 non-null uint8
Team_1_Canada           1520 non-null uint8
Team_1_England          1520 non-null uint8
Team_1_India            1520 non-null uint8
Team_1_Ireland          1520 non-null uint8
Team_1_Kenya            1520 non-null uint8
Team_1_Netherlands      1520 non-null uint8
Team_1_New Zealand      1520 non-null uint8
Team_1_Pakistan         1520 non-null uint8
Team_1_Scotland         1520 non-null uint8
Team_1_South Africa     1520 non-null uint8
Team_1_Sri Lanka        1520 non-null uint8
Team_1_U.A.E.           1520 non-null uint8
Team_1_West Indies      1520 non-null uint8
Team_1_Zimbabwe         1520 non-null uint8
Team_2_ Australia       1520 non-null uint8
Team_2_ New Zealand     1520 non-null uint8
Team_2_ Pakistan        1520 non-null uint8
Team_2_ South Africa    1520 non-null uint8
Team_2_ Sri Lanka       1520 non-null uint8
Team_2_Afghanistan      1520 non-null uint8
Team_2_Australia        1520 non-null uint8
Team_2_Bangladesh       1520 non-null uint8
Team_2_Canada           1520 non-null uint8
Team_2_England          1520 non-null uint8
Team_2_Hong Kong        1520 non-null uint8
Team_2_India            1520 non-null uint8
Team_2_Ireland          1520 non-null uint8
Team_2_Kenya            1520 non-null uint8
Team_2_Netherlands      1520 non-null uint8
Team_2_New Zealand      1520 non-null uint8
Team_2_Pakistan         1520 non-null uint8
Team_2_Scotland         1520 non-null uint8
Team_2_South Africa     1520 non-null uint8
Team_2_Sri Lanka        1520 non-null uint8
Team_2_U.A.E.           1520 non-null uint8
Team_2_West Indies      1520 non-null uint8
Team_2_Zimbabwe         1520 non-null uint8
dtypes: uint8(40)
memory usage: 59.5 KB

In [22]:
y=y.astype('int')

seperating the x train and y train

In [23]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=0)
df_teams.head()
rf = RandomForestClassifier(n_estimators=100, max_depth=20,
                              random_state=0)
rf.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=20, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=None,
            oob_score=False, random_state=0, verbose=0, warm_start=False)

In [24]:
score = rf.score(X_train, y_train)
print("Training set accuracy: ", '%.3f'%(score))
y_pred=rf.predict(X_test)

Training set accuracy:  0.694

In [25]:
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(y_test,y_pred)

In [26]:
cm

array([[ 88,   1,  86],
       [  6,   0,  16],
       [ 44,   0, 215]], dtype=int64)

collecting and arranging the world cup data

In [27]:
ranking = pd.read_csv('C:/Users/SIVA DATTA/Desktop/belief sys/ICC-2019-WC-prediction/datasets/icc_rankings.csv') 
fixtures = pd.read_csv('C:/Users/SIVA DATTA/Desktop/belief sys/ICC-2019-WC-prediction/datasets/fixtures.csv')

In [28]:
pred_set = []
# Create new columns with ranking position of each team
fixtures.insert(1, 'first_position', fixtures['Team_1'].map(ranking.set_index('Team')['Position']))
fixtures.insert(2, 'second_position', fixtures['Team_2'].map(ranking.set_index('Team')['Position']))

# We only need the group stage games, so we have to slice the dataset
fixtures = fixtures.iloc[:45, :]
fixtures.tail()
# Loop to add teams to new prediction dataset based on the ranking position of each team
for index, row in fixtures.iterrows():
    if row['first_position'] < row['second_position']:
        pred_set.append({'Team_1': row['Team_1'], 'Team_2': row['Team_2'], 'winning_team': None})
    else:
        pred_set.append({'Team_1': row['Team_2'], 'Team_2': row['Team_1'], 'winning_team': None})
        
pred_set = pd.DataFrame(pred_set)
backup_pred_set = pred_set
pred_set.head()

         Team_1        Team_2 winning_team
0       England  South Africa         None
1      Pakistan   West Indies         None
2   New Zealand     Sri Lanka         None
3     Australia   Afghanistan         None
4  South Africa    Bangladesh         None

getting the dummies

In [29]:
pred_set = pd.get_dummies(pred_set, prefix=['Team_1', 'Team_2'], columns=['Team_1', 'Team_2'])

In [30]:
# Add missing columns compared to the model's training dataset
missing_cols = set(final.columns) - set(pred_set.columns)
for c in missing_cols:
    pred_set[c] = 0
pred_set = pred_set[final.columns]
pred_set.head()
pred_set = pred_set.drop(['Winner','Winning_team','Margin_runs','Margin_wicket','Ground'], axis=1)
pred_set.head()

,Team_1_Afghanistan,Team_1_Australia,Team_1_Bangladesh,Team_1_Canada,Team_1_England,Team_1_India,Team_1_Ireland,Team_1_Kenya,Team_1_Netherlands,Team_1_New Zealand,...,Team_2_Kenya,Team_2_Netherlands,Team_2_New Zealand,Team_2_Pakistan,Team_2_Scotland,Team_2_South Africa,Team_2_Sri Lanka,Team_2_U.A.E.,Team_2_West Indies,Team_2_Zimbabwe
0,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
3,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [31]:
#group matches 
predictions = rf.predict(pred_set)
for i in range(fixtures.shape[0]):
    print(backup_pred_set.iloc[i, 1] + " and " + backup_pred_set.iloc[i, 0])
    if predictions[i] == 2:
        print("Winner: " + backup_pred_set.iloc[i, 1])
    elif predictions[i] == 1:
        print("Draw")
    elif predictions[i] == 0:
        print("Winner: " + backup_pred_set.iloc[i, 0])
    print('Probability of ' + backup_pred_set.iloc[i, 1] + ' winning: ', '%.3f'%(rf.predict_proba(pred_set)[i][2]))
    print('Probability of Draw: ', '%.3f'%(rf.predict_proba(pred_set)[i][1]))
    print('Probability of ' + backup_pred_set.iloc[i, 0] + ' winning: ', '%.3f'%(rf.predict_proba(pred_set)[i][0]))
    print("")

South Africa and England
Winner: South Africa
Probability of South Africa winning:  0.668
Probability of Draw:  0.098
Probability of England winning:  0.233

West Indies and Pakistan
Winner: West Indies
Probability of West Indies winning:  0.671
Probability of Draw:  0.005
Probability of Pakistan winning:  0.324

Sri Lanka and New Zealand
Winner: Sri Lanka
Probability of Sri Lanka winning:  0.603
Probability of Draw:  0.144
Probability of New Zealand winning:  0.252

Afghanistan and Australia
Winner: Afghanistan
Probability of Afghanistan winning:  0.938
Probability of Draw:  0.016
Probability of Australia winning:  0.046

Bangladesh and South Africa
Winner: Bangladesh
Probability of Bangladesh winning:  0.749
Probability of Draw:  0.009
Probability of South Africa winning:  0.242

Pakistan and England
Winner: Pakistan
Probability of Pakistan winning:  0.724
Probability of Draw:  0.011
Probability of England winning:  0.265

Afghanistan and Sri Lanka
Winner: Afghanistan
Probability of Afghanistan winning:  0.592
Probability of Draw:  0.064
Probability of Sri Lanka winning:  0.344

South Africa and India
Winner: South Africa
Probability of South Africa winning:  0.577
Probability of Draw:  0.003
Probability of India winning:  0.420

Bangladesh and New Zealand
Winner: Bangladesh
Probability of Bangladesh winning:  0.953
Probability of Draw:  0.008
Probability of New Zealand winning:  0.040

West Indies and Australia
Winner: West Indies
Probability of West Indies winning:  0.842
Probability of Draw:  0.150
Probability of Australia winning:  0.008

Sri Lanka and Pakistan
Winner: Sri Lanka
Probability of Sri Lanka winning:  0.727
Probability of Draw:  0.005
Probability of Pakistan winning:  0.268

Bangladesh and England
Winner: Bangladesh
Probability of Bangladesh winning:  0.704
Probability of Draw:  0.012
Probability of England winning:  0.284

Afghanistan and New Zealand
Winner: Afghanistan
Probability of Afghanistan winning:  0.848
Probability of Draw:  0.019
Probability of New Zealand winning:  0.133

Australia and India
Winner: Australia
Probability of Australia winning:  0.672
Probability of Draw:  0.056
Probability of India winning:  0.272

West Indies and South Africa
Winner: West Indies
Probability of West Indies winning:  0.779
Probability of Draw:  0.201
Probability of South Africa winning:  0.020

Sri Lanka and Bangladesh
Winner: Bangladesh
Probability of Sri Lanka winning:  0.166
Probability of Draw:  0.001
Probability of Bangladesh winning:  0.833

Pakistan and Australia
Winner: Pakistan
Probability of Pakistan winning:  0.776
Probability of Draw:  0.009
Probability of Australia winning:  0.215

New Zealand and India
Winner: New Zealand
Probability of New Zealand winning:  0.669
Probability of Draw:  0.002
Probability of India winning:  0.329

West Indies and England
Winner: West Indies
Probability of West Indies winning:  0.851
Probability of Draw:  0.135
Probability of England winning:  0.014

Sri Lanka and Australia
Winner: Australia
Probability of Sri Lanka winning:  0.451
Probability of Draw:  0.066
Probability of Australia winning:  0.483

Afghanistan and South Africa
Winner: Afghanistan
Probability of Afghanistan winning:  0.790
Probability of Draw:  0.016
Probability of South Africa winning:  0.194

Pakistan and India
Winner: Pakistan
Probability of Pakistan winning:  0.721
Probability of Draw:  0.004
Probability of India winning:  0.275

West Indies and Bangladesh
Winner: Bangladesh
Probability of West Indies winning:  0.465
Probability of Draw:  0.001
Probability of Bangladesh winning:  0.534

Afghanistan and England
Winner: Afghanistan
Probability of Afghanistan winning:  0.884
Probability of Draw:  0.012
Probability of England winning:  0.104

New Zealand and South Africa
Winner: New Zealand
Probability of New Zealand winning:  0.639
Probability of Draw:  0.012
Probability of South Africa winning:  0.349

Bangladesh and Australia
Draw
Probability of Bangladesh winning:  0.090
Probability of Draw:  0.498
Probability of Australia winning:  0.412

Sri Lanka and England
Winner: Sri Lanka
Probability of Sri Lanka winning:  0.486
Probability of Draw:  0.103
Probability of England winning:  0.412

Afghanistan and India
Winner: Afghanistan
Probability of Afghanistan winning:  0.923
Probability of Draw:  0.006
Probability of India winning:  0.072

West Indies and New Zealand
Winner: West Indies
Probability of West Indies winning:  0.518
Probability of Draw:  0.004
Probability of New Zealand winning:  0.478

Pakistan and South Africa
Winner: South Africa
Probability of Pakistan winning:  0.329
Probability of Draw:  0.012
Probability of South Africa winning:  0.659

Afghanistan and Bangladesh
Winner: Bangladesh
Probability of Afghanistan winning:  0.491
Probability of Draw:  0.003
Probability of Bangladesh winning:  0.506

Australia and England
Winner: Australia
Probability of Australia winning:  0.536
Probability of Draw:  0.064
Probability of England winning:  0.400

Pakistan and New Zealand
Winner: Pakistan
Probability of Pakistan winning:  0.609
Probability of Draw:  0.083
Probability of New Zealand winning:  0.308

West Indies and India
Winner: West Indies
Probability of West Indies winning:  0.891
Probability of Draw:  0.000
Probability of India winning:  0.109

Sri Lanka and South Africa
Winner: Sri Lanka
Probability of Sri Lanka winning:  0.771
Probability of Draw:  0.015
Probability of South Africa winning:  0.214

Afghanistan and Pakistan
Winner: Afghanistan
Probability of Afghanistan winning:  0.834
Probability of Draw:  0.017
Probability of Pakistan winning:  0.150

Australia and New Zealand
Winner: Australia
Probability of Australia winning:  0.610
Probability of Draw:  0.011
Probability of New Zealand winning:  0.379

India and England
Winner: India
Probability of India winning:  0.494
Probability of Draw:  0.177
Probability of England winning:  0.329

Sri Lanka and West Indies
Winner: Sri Lanka
Probability of Sri Lanka winning:  0.523
Probability of Draw:  0.024
Probability of West Indies winning:  0.453

Bangladesh and India
Winner: Bangladesh
Probability of Bangladesh winning:  0.790
Probability of Draw:  0.019
Probability of India winning:  0.192

New Zealand and England
Winner: New Zealand
Probability of New Zealand winning:  0.537
Probability of Draw:  0.014
Probability of England winning:  0.449

Afghanistan and West Indies
Winner: West Indies
Probability of Afghanistan winning:  0.329
Probability of Draw:  0.224
Probability of West Indies winning:  0.447

Bangladesh and Pakistan
Winner: Bangladesh
Probability of Bangladesh winning:  0.706
Probability of Draw:  0.033
Probability of Pakistan winning:  0.261

Sri Lanka and India
Winner: Sri Lanka
Probability of Sri Lanka winning:  0.654
Probability of Draw:  0.028
Probability of India winning:  0.318

Australia and South Africa
Winner: Australia
Probability of Australia winning:  0.887
Probability of Draw:  0.011
Probability of South Africa winning:  0.102

In [32]:
semi = [('New Zealand', 'India'),
            ('England', 'Australia')]

defining a function to align matches and to predict the results at each  stage

In [33]:
def clean_and_predict(matches, ranking, final, rf):

    # Initialization of auxiliary list for data cleaning
    positions = []

    # Loop to retrieve each team's position according to ICC ranking
    for match in matches:
        positions.append(ranking.loc[ranking['Team'] == match[0],'Position'].iloc[0])
        positions.append(ranking.loc[ranking['Team'] == match[1],'Position'].iloc[0])
    
    # Creating the DataFrame for prediction
    pred_set = []

    # Initializing iterators for while loop
    i = 0
    j = 0

    # 'i' will be the iterator for the 'positions' list, and 'j' for the list of matches
    while i < len(positions):
        dict1 = {}

        # If position of first team is better then this team will be the 'Team_1' team, and vice-versa
        if positions[i] < positions[i + 1]:
            dict1.update({'Team_1': matches[j][0], 'Team_2': matches[j][1]})
        else:
            dict1.update({'Team_1': matches[j][1], 'Team_2': matches[j][0]})

        # Append the new dictionary to the list, that will be converted to data frame later
        pred_set.append(dict1)
        i += 2
        j += 1
        
        # Convert list into DataFrame
    pred_set = pd.DataFrame(pred_set)
    backup_pred_set = pred_set

    # Get dummy variables and drop winning_team column
    pred_set = pd.get_dummies(pred_set, prefix=['Team_1', 'Team_2'], columns=['Team_1', 'Team_2'])

    # Add missing columns compared to the model's training dataset
    missing_cols2 = set(final.columns) - set(pred_set.columns)
    for c in missing_cols2:
        pred_set[c] = 0
    pred_set = pred_set[final.columns]

    pred_set = pred_set.drop(['Winner','Winning_team','Margin_runs','Margin_wicket','Ground'], axis=1)

    # Predict!
    predictions = rf.predict(pred_set)
    for i in range(len(pred_set)):
        print(backup_pred_set.iloc[i, 1] + " and " + backup_pred_set.iloc[i, 0])
        if predictions[i] == 2:
            print("Winner: " + backup_pred_set.iloc[i, 0])
        elif predictions[i] == 1:
            print("Draw")
        elif predictions[i] == 0:
            print("Winner: " + backup_pred_set.iloc[i, 1])

In [34]:
finals=[('India','England')]
clean_and_predict(finals, ranking, final, rf)

India and England
Winner: England

In [35]:
clean_and_predict(semi, ranking, final, rf)

New Zealand and India
Winner: India
Australia and England
Winner: England